# DTSC-580: Data Manipulation
## NumPy 40 Challenge

To review some basic concepts, attempt to perform these basic NumPy tasks then watch the walkthrough video to check your solutions.

1. Import numpy as np and check your version.

In [ ]:
import numpy as np 

np.__version__

'1.22.3'

2. Create a 1D array of numbers from `0` to `9`.

In [11]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3. Create a 1D array of numbers from `10` to `49`.

In [12]:
b = np.arange(10,50)

4. Reverse the previous array created in `#3` (first element becomes the last).

In [13]:
np.flip(b)

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

5. Create a `3x3` matrix with values ranging from `1` to `9`.

In [ ]:
### ENTER CODE HERE ###

6. Create a `3x3` [identity matrix](https://en.wikipedia.org/wiki/Identity_matrix).

In [ ]:
### ENTER CODE HERE ###

7. Set a random seed of `42`. Create a `10x5` array with random values.  Use [np.random.random()](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html#).  As a check, your first row of the array should be: `[0.37454012, 0.95071431, 0.73199394, 0.59865848, 0.15601864]`

In [ ]:
np.random.seed(42) 
### ENTER CODE HERE ###

8. Find the minimum and maximum values of above `10x5` array.

In [ ]:
### ENTER CODE HERE ###

9. Find the mean value for the above `10x5` array.

In [ ]:
### ENTER CODE HERE ###

10. Create a `5x5` numpy array of all `True`'s.

In [ ]:
### ENTER CODE HERE ###

11. Print all even numbers from the following array: 
```python
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
### ENTER CODE HERE ###

12. Replace all even numbers from the above `#11` array with `0`.

In [ ]:
### ENTER CODE HERE ###

13. Use the [where](https://numpy.org/doc/stable/reference/generated/numpy.where.html) method to replace all odd numbers from the above `#12` array with a `-1`.

In [ ]:
### ENTER CODE HERE ###

14. Reshape the above array from `#13` to a `2x5` array.

In [ ]:
### ENTER CODE HERE ###

15. Stack `arr1` and `arr2` vertically.

In [ ]:
arr1 = np.arange(10).reshape((2,5))
arr2 = np.arange(10,20).reshape((2,5))

### ENTER CODE HERE ###

16. Stack `arr1` and `arr2` horizontally.

In [ ]:
### ENTER CODE HERE ###

17. Swap columns 1 and 2 in the following array and save it as `arr`.

In [ ]:
arr = np.array([22,56,34,54,12,42,67,56,99]).reshape((3,3))

### ENTER CODE HERE ###

18. Swap rows 1 and 2 in the above `#17` array.

In [ ]:
### ENTER CODE HERE ###

19. Next, reverse the columns of the above `#18` array.

In [ ]:
### ENTER CODE HERE ###

20. Sort each row of the above `#19` array from least to greatest.

In [ ]:
### ENTER CODE HERE ###

21. Sort each column of the above `#20` array from the least to the greatest.

In [ ]:
### ENTER CODE HERE ###

22. Create a `1D` array called `arr2` of `100` values that range evenly between `1 - 200`.

In [ ]:
### ENTER CODE HERE ###

23. Round all numbers of `arr2` to 4 digits.

In [ ]:
### ENTER CODE HERE ###

24. Reshape `arr2` to a `25x4` array.

In [ ]:
### ENTER CODE HERE ###

25. Index the first row of `arr2`.

In [ ]:
### ENTER CODE HERE ###

26. Index the second column of `arr2`.

In [ ]:
### ENTER CODE HERE ###

27. Index every other row of `arr2` starting from the first.

In [ ]:
### ENTER CODE HERE ###

28. Index every other row of `arr2` and the last two columns.

In [ ]:
### ENTER CODE HERE ###

29. Index the 3rd, 5th and 7th row of `arr2`.

In [ ]:
### ENTER CODE HERE ###

30. Select only the values below 50 for `arr2`. Add 5 to these values and then multiply by 2. The other values should remain unchanged.

In [ ]:
### ENTER CODE HERE ###

31. Add `arr2` and `arr3` (given below) and call the new array `arr4`.

In [ ]:
arr3 = np.linspace(1,10,100).reshape(-1,4).round(4)

### ENTER CODE HERE ###

32. What is the `shape`, `dimension`, and `data type` of `arr4`?

In [ ]:
### ENTER CODE HERE ###

33. Cast `arr4` as an `int64` data type. What happens to the values?

In [ ]:
### ENTER CODE HERE ###

34. Select the first value in the first 5 rows in `arr4` and call this slice `arr_slice`.

In [ ]:
### ENTER CODE HERE ###

35. Update the second value in `arr_slice` to `42`. Before you check the results, will this update `arr4` or will it remain unchanged?

In [ ]:
### ENTER CODE HERE ###

36. Suppose each `name` corresponds to a row in the `data` below. Select all the rows in `data` corresponding with `Bob`.

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)

### ENTER CODE HERE ###

37. Select only rows in `data` where `names == "Bob"` and only select the 3rd column.

In [ ]:
### ENTER CODE HERE ###

38. Select only the rows that don't correspond with `Bob`.

In [ ]:
### ENTER CODE HERE ###

39. Select only the rows equal to `Bob` or `Will`.

In [ ]:
### ENTER CODE HERE ###

40. Set all negative values in the `data` array to `0`.

In [ ]:
### ENTER CODE HERE ###

Good work!